
@{
    ViewData["Title"] = "ActiveEmailAccount";
}


<p class=" text-center">
    <div class="container">


        @if (ViewBag.active == ActiveEmailResult.Error)

        {
            <div class="alert alert-danger">
                <p>کاربر عزیز، درخواست شما با خطا مواجه شد</p>
            </div>
        }

      
        @if (ViewBag.active == ActiveEmailResult.Success)

        {
            <div class="alert alert-success">
                <p>کاربر عزیز، حساب شما با موفقیت فعال شد</p>
                از<a asp-controller=" " asp-action=" ">  اینجا</a> می توانید وارد پنل کاربری خود شود.

            </div>
        }
        
        @if (ViewBag.active == ActiveEmailResult.NotActive)

        {
            <div class="alert alert-warning">
                <p>کاربر عزیز، حساب شما فعال نمی باشد</p>
            </div>
        }
    </div>
</p>



